
<Configuration status="warn">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"/>
        </Console>
        <File name="File1" fileName="warning.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File2" fileName="trace.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="error.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File4" fileName="all.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
            <AppenderRef ref="File4"/>
        </Root>
        <Logger name="boardgame.Main" additivity="true" level="TRACE">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>